canvas-draw {

	height: 100%;
	width: 100%;
	display: block;
	
	canvas {
		height: 500px;
		width: 100%;
	}

	#top-toolbar {
		position: absolute;
		top: 0;
	}

	#bottom-toolbar {
		position: absolute;
		bottom: 0;
	}

}